.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  background-color: rgb(59, 13, 185);
  height: 20px;
  padding: 20px;
  color: white;
}
.layout-demo-div:hover {
  cursor: pointer;
  background-color: antiquewhite
}
.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}
.vertical-panel {
  
  background-color: lightgreen;
}
.layout-element {
  border: 1px solid black;
  border-style: dashed;
  overflow: scroll;
}

.layout-example {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  
}
.layout-example:hover {
  background-color: cornsilk;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
